<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/752157b47f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Your view</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand brand" href="#">Your view</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ranking</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kategorie
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 top-search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj..." aria-label="Wyszukaj">
            <button class="search-btn"><i class="fas fa-search"></i></button>
        </form>
        <a href="#" class="ml-3 btn btn-outline-primary">Zaloguj</a>
        <a href="#" class="ml-3 btn btn-outline-primary">Zarejestruj</a>
    </div>
</nav>
<section id="top-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="top-main-image">
                    <h1 class="top-main-text">Podziel się swoją niezwykłą twórczością</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-page-section" id="middle-text-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Your view to miejsce, w którym każdy może udostępnić innym swoją niezwykłą fotografię, grafikę lub rysunek.
                    Tutaj Ty jesteś artystą, a inni użytkownicy oceniają Twoją pracę.
                    Im większe oceny  będziesz  otrzymywać, tym wyżej w rankingu znajdzie  się Twoja  twórczość.
                    Poznaj możliwości Your view i stań się popularny dzięki swoim umiejętnością manualnym lub fotograficznym!</p>
            </div>
        </div>
    </div>
</section>
<section class="main-page-section" id="top-rated-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="main-page-top-rated">
                    <div class="main-page-top-rated-img">
                        <img src="img/sample1.jpg" alt="">
                    </div>
                    <div class="main-page-user-info">
                        <div class="user-avatar">
                            <img src="img/user-sample-avatar1.jpg" alt="">
                        </div>
                        <span class="main-page-user-name">Bartek</span>
                        <div class="art-grade">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="main-page-top-rated">
                    <div class="main-page-top-rated-img">
                        <img src="img/sample1.jpg" alt="">
                    </div>
                    <div class="main-page-user-info">
                        <div class="user-avatar">
                            <img src="img/user-sample-avatar1.jpg" alt="">
                        </div>
                        <span class="main-page-user-name">Bartek</span>
                        <div class="art-grade">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="main-page-top-rated">
                    <div class="main-page-top-rated-img">
                        <img src="img/sample1.jpg" alt="">
                    </div>
                    <div class="main-page-user-info">
                        <div class="user-avatar">
                            <img src="img/user-sample-avatar1.jpg" alt="">
                        </div>
                        <span class="main-page-user-name">Bartek</span>
                        <div class="art-grade">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>
</div>
<section class="main-page-section" id="bottom-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="main-page-info">
                    <i class="fas fa-users"></i>
                    <p>Dołącz do wspaniałej społeczności</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="main-page-info">
                    <i class="fas fa-images"></i>
                    <p>Podziel się swoją twórczością</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="main-page-info">
                    <i class="fas fa-comment-medical"></i>
                    <p>Oceniaj i komentuj prace innych</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="justify-paragraph">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aliquid asperiores blanditiis fuga inventore ipsum nemo nihil nostrum recusandae sunt totam!
                        Ab beatae deserunt dolorem ex, ipsam nihil quae quibusdam voluptatibus quibusdam voluptatibu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aliquid asperiores blanditiis fuga inventore ipsum nemo nihil nostrum recusandae sunt totam!
                        Ab beatae deserunt dolorem ex, ipsam nihil quae quibusdam voluptatibus?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-description">
                    <p><span style="color: var(--def-blue);">Your view</span> - stworzone z <i class="fas fa-heart"></i> i pasją.</p>
                    <div class="footer-socials">
                        <div class="footer-social-facebook">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                        <div class="footer-social-instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>